h2{
    color: #263244;
    font-size: 40px;
    font-weight: bold;
    margin: 105px 0 32px 0;
    text-align: center;
}

hr{
    background-color: #d17700;
    height: 4px;
    width: 70px;
    border: none;
    margin: 0 auto;
    margin-bottom: 62px;
    
    
}

nav{
    height: 60px;
    width: 100%;
    background: #344051;
    color: #fff;
}

.logo{
    float: left;
    font-size: 28px;
    line-height: 60px;
    margin: 0 20% 0 20%;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    line-height: 60px;
    margin: 0 20px;
    text-transform: uppercase;
}

.main{
    background: url(../img/boy.png) right bottom no-repeat, url("../img/bg.jpg")  center no-repeat;
    height: 1018px;  
}

.hello{
    width: 40%;
    position: relative;
    top: 30%;
    left: 10%; 
}

.hello h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color: #2c384a;
}

.hello h4{
    font-size: 20px;
    text-align: center;
    color: #79818d;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

.buttons{
    width: 50%;
    margin: 0 auto;
    padding-left: 2%;
}

.buttons input{
    background: none;
    font-size: 15px;
    border: 1px solid #6d7682;
    border-radius: 5px;
    margin: 0 8%;
    padding: 3%;
    color: #6d7682;
    font-weight: bold;
    
}

.About_me_Block{
    height: 720px;
    text-align: center;
    width: 66%;
    margin: 0 auto;
}


.About_me_Block div{
    width: 74%;
    margin: 0 auto;
   /* position: relative;
    left: 32%;
    */
}

.About_me_Block div>p{
    display: block;
    margin: 22px 0px;
    color: #3f495a;
    text-align: justify;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 15px;
}

.Download_Rezume{
    margin: 0 auto;
    height: 36px;
    font-size: 16px;
    width: 100px;
   
}





.Download_Rezume a{
    background: url(../img/download.png) no-repeat 5% center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 30px;
    
}


.Skills{
    border: 1px solid #fff;
    height: 525px;
    background: url(../img/skill_bg.jpg) right bottom no-repeat, url("../img/bg.jpg")  center no-repeat;
    
}

.container_el_sk{
    width: 68%;
    margin: 0 auto;
}

.sk_element{
    padding-top: 58px;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 0 2.6%;
}

.sk_element h3{
    font-weight: bold;
    color: #cf7600;
    font-size: 20px;
    margin: 40px 0 20px 0;
}

.sk_element p{
    word-wrap: break-word;    

}

#Sk_noyt{
    background: url(../img/noyt.png) no-repeat center 20%;
    padding-top: 58px;
}

#Sk_slesh{
    background: url(../img/slesh.png) no-repeat center 20%;
    padding-top: 58px;
}

#Sk_rocket{
    background: url(../img/rocket.png) no-repeat center 20%;
    padding-top: 58px;
}

#Sk_Megaphone{
    background: url(../img/Megaphone.png) no-repeat center 20%;
    padding-top: 58px;
}

.Cases{
    height: 1120px;  
}

.Cases>hr{
    margin-bottom: 36px;
}

#discrip{
    text-align: center;
    margin-bottom: 40px;
}

.left_arrow{
    position: relative;
    top: -552px;
    left: 366px;
}

.right_arrow{
    position: relative;
    top: -608px;
    left: 1300px;
}

.C_element{
    height: 880px;
    width: 1170px;
    margin: 0 auto;
}

.C_element h3{
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0 12px 0;
}

.C_element span{
    margin-left: 4px;
}

.client{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.project{
    display: inline-block;
    width: 78%;
    
}

.cases_button{
    border-radius: 5px;
    padding: 15px 40px;
    width: 200px;
    margin-top: 25px;
    margin-left: 3px;
    font-weight: bold;
    font-size: 15px;
    background: #63b5ae;
}

.cases_button>a{
    color: #fff;
}

.Calc{
    height: 880px;
}

.Calc h4{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 22px;
}

.Calc select{
    width: 890px;
    height: 60px;
    background: #eee;
    font-size: 18px;
    padding-right: 30px;
    margin-bottom: 50px;
}

#calcline{
    height: 2px;
    width: 890px;
    border: none;
    margin-bottom: 22px;
    position: relative;
    left: 0;
    background: #d1d1d1;
}

.Calc h5{
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    width: 90%;
    margin-bottom: 24px;
}

.Calc span{
    
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    width: 9%;
}

.Calc>div{
    width: 890px;
    margin: 0 auto;
}

.Calc select{
    appearance: none;
    padding-left: 24px;
    background: url(../img/select_arrow.png) no-repeat 98% #eee;
    
}

.Stats{
    border: 1px solid #fff;
    background: url("../img/stat_bg.jpg")  center no-repeat;
    height: 500px;
}

.st_element{
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center; 
    margin: 0 2.65%;
}


#St_smile{
    background: url(../img/smile.png) no-repeat center 20%;
    padding-top: 58px;
}

#St_slesh2{
    background: url(../img/slesh2.png) no-repeat center 20%;
    padding-top: 58px;
}

#St_check{
    background: url(../img/check.png) no-repeat center 20%;
    padding-top: 58px;
}

#St_cup{
    background: url(../img/cup.png) no-repeat center 20%;
    padding-top: 58px;
}


.st_element>p{
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px; 
    margin-bottom: 20px;
}

.st_element>h5{
    font-size: 20px;
}

.feedback{
    height: 600px;
    text-align: center;
}

.fd_element{
    width: 60%;
    margin: 0 auto;
}

.fd_element img{
    margin-bottom: 20px;
}

.fd_element p{
    margin: 20px 0;
    line-height: 20px;
}

li{
    display: inline-block;
    margin: 50px 8px;
}

li>a{
    width: 10px;
    height: 10px;
    display: inline-block;
}

.notchecked{
    background: url(../img/dot_grey.png) no-repeat center;
}

#checked{
    background: url(../img/dot_orange.png) no-repeat center;
}

.contacts h2{
    color: #fff;
    
}

.contacts{
    background: url(../img/bg_contacts.jpg) no-repeat center;
    height: 810px;
    
    text-align: center;
    color: #fff; 
}

.contacts hr{
    margin-bottom: 35px;
}

.con_head{
    width: 50%;
    margin: 30px auto; 
}

.conteiner{
    width: 50%;
    margin: 0 auto;
    padding: 2% 0;
    display: flex;
}

.con_element{
    width: 30%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    flex: 1;
}

#con_location{
    background: url(../img/location.png) no-repeat center 20%;
}

#con_mail{
    background: url(../img/mail.png) no-repeat center 20%;
}

#con_phone{
    background: url(../img/phone.png) no-repeat center 20%;
}

.message{
    width: 60%;
    margin: 0 auto;
}

.message h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 36px;
}

.message form>input{
    width: 352px;
    height: 32px;
    margin: 14px;
    padding: 5px;
    opacity: 0.7;
}

.message form>textarea{
    width: 734px;
    height: 94px;
    display: block; 
    margin: 0 auto;
    resize: none;
    padding: 5px;
    opacity: 0.7;
}

.message form>input[type="submit"]{
    opacity: 1;
    background: none;
    border: 2px solid #f9faff;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 0 18px;
}

.con_footer ul li{
    margin: 40px 25px;
}

footer{
    height: 96px;
    background: #354051;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

footer h6{
    display: block;
    font-size: 15px;
}